@media screen 
  and (min-device-width: 1201px) 
{
        .garfield {
                width:394px; 
                height:124px; 
                background:url(images/garfield.gif) 3 1px;
        }
} 
                
@media screen 
  and (min-device-width: 1101px) 
    and (max-device-width: 1200px) {
        .garfield {
                width:192px; 
                height:125px; 
                background:url(images/garfield.gif) 407 1px;
        }
} 
   
@media screen 
  and (min-device-width: 1001px) 
    and (max-device-width: 1100px) {
        .garfield {
                width:2px; 
                height:137px; 
                background:url(images/garfield.gif) 193 125px;
        }
}


@media screen 
  and (min-device-width: 901px) 
    and (max-device-width: 1000px) {
        .garfield {
                width: 191px;
                height: 122px;
                background:url(images/garfield.gif) 205 137px;
        }
}


@media screen 
  and (min-device-width: 801px) 
    and (max-device-width: 900px) {
        .garfield {
                width:407px; 
                height:135px; 
                background:url(images/garfield.gif) 192 127px;
        }
} 
                
@media screen 
  and (min-device-width: 701px) 
    and (max-device-width: 800px) {
        .garfield {
                width:192px; 
                height:124px; 
                background:url(images/garfield.gif) 2 273px;
        }
} 
   
@media screen 
  and (min-device-width: 601px) 
    and (max-device-width: 700px) {
        .garfield {
                width:193px; 
                height:123px; 
                background:url(images/garfield.gif) 203 273px;
        }
}


@media screen  
    and (max-device-width: 600px) {
        .garfield {
                width:191px; 
                height:126px; 
                background:url(images/garfield.gif) 407 271px;
        }
} 
